@charset "uft-8";

#text {
    font-size: 3.8em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

.nokori {
    padding: 0;
    margin: 0;
}

#score {
    text-align: right;
    font-size: 3em;
    margin-top: 0;
}

#count {
    font-size: 4em;
    margin-bottom: 0;
}

#kanji {
    font-size: 3.8em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 0;
}

.appframe {
    padding: 0.5em;

}

.add-red{
    color: rgb(236, 30, 30);
}

.start {
    padding-top: 3em;
}