@charset "utf-8";

h1{
    color: #1ed891;
}

body{
    text-align: center;
    background: #000022;
}

.appframe{
    background: #ffffff;
    width: 960px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;

}

ul{
    list-style: none;
    padding: 0;
}

li{
    border-top: dotted 1px #1ed891;
    padding: 2px;
    cursor: pointer;
}

.active{
    background: #d2dff3;
    color: rgb(211, 144, 0);
}

li:hover{
    background: #d2dff3;
}